target/
.idea/
*.iml
*.log

.classpath
.project
.settings/

/.mvn/wrapper/maven-wrapper.jar

# OS-specific
Thumbs.db
*.DS_Store
*.swp
frontend/node_modules/
frontend/dist/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
